 body {
 background: url('background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
     -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        margin: 0px;
}

/* classes */
h1{
    margin-top:20px;
       margin-bottom: 40px;
       font-family: Rockwell, Comic Sans, Arial;
       font-weight: normal;
       color:#002408;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);

}
nav {
  margin-top: 40px;
  padding: 24px;
  text-align: center;
  font-family: helvetica;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-3 {
  background: #C5DBC5;
}


.link-3 {
  transition: 0.4s;
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}
.link-3:hover {
  background-color: #a4c778;
  color: #FFFFFF;
  padding: 24px 10px;
}

.sentiment{
 font-size: 30px;
    display: flex;
    padding: 10px 10px;
    align-items:baseline;

}

.subjectivity{
 font-size: 30px;
 display: flex;
 padding: 10px 10px;
 align-items:baseline;

}

.picture{
display: flex;
justify-content: center;
 width: 50%



}
.container{
display: flex;
justify-content: center;





}
}