body {
 background: url('test6blå.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
     -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
}

h1{
    margin-top:0.2em;
    margin-bottom: 1em;
    font-family: Rockwell, Comic Sans, Arial;
    font-weight: normal;
    color:#002408;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  margin: 0px;
}
nav {
  margin-top: 40px;
  padding: 24px;
  text-align: center;
  font-family: helvetica;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-3 {
  background: #0f4c64	;
}


.link-3 {
  transition: 0.4s;
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}
.link-3:hover {
  background-color: #a4c778;
  color: #FFFFFF;
  padding: 24px 10px;
}

input,
button,
label{
    font-family: Helvetica;
    background-color: #D5EED5;
    margin: 0px;
}
h1{
    margin-top:0.1em;
    margin-bottom: 1em;
    font-weight: normal;
    color:#4a4a4a;
}

.search-wrapper
  {
      display: flex;
      justify-content: center;
  }


form.example {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    height: 60px;

  }

  /* Style the search field */
  form.example input[type=search] {
    height: 80px;
    margin-left: 20px;
    font-size: 30px;
    border: 1px solid grey;
    float: left;
    width: 60%;
    background: #fafafa;
  }

  /* Style the submit button */
  form.example button {
    float: left;
    width: 6%;
    height: 80px;
    background: #a4c778;
    color: white;
    font-size: 30px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }

  form.example button:hover {
    background: #0b7dda;
  }

  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
nav {
  margin-top: 2px;
  padding: 3px;
  text-align: right;
  font-family: helvetica;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;

}
#nav-3 {
  background: #C5DBC5;
  text-align: left;
}
/* classes */

.link-3 {
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
  padding: 14px 16px;
  margin: 0px 0px;
  display: inline-block;
}
.link-3:hover {
  background-color: #ffffff;
  color: #000000;

}
/* Popup link */
.popup {
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
  padding: 14px 16px;
  margin: 0px 0px;
  display: inline-block;
  cursor: pointer;
}

.popup:hover {
  background-color: #ffffff;
  color: #000000;
}

/* The popup window */
.popup .popuptext {
width: flex;
  padding: 10px 10px;
  color: #fff;
  text-align: center;
  border-radius:3px;
  background-color: #555;
  visibility: hidden;
  position:fixed;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}

  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-color: white;
  }
  .popup .close:hover {
    color: white;
  }
}
/*end of popup*/

.logo{
    font-size: 70px;
    display: flex;
    justify-content: center;
}

