body {
 background: url('background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
     -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        margin: 0px;
}

h1{
    margin-top:20px;
    margin-bottom: 40px;
    font-family: Rockwell, Comic Sans, Arial;
    font-weight: normal;
    color:#002408;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);

input,
button,
label{
    font-family: Helvetica;
    background-color: #D5EED5;
    margin: 0px;
}

/* classes */

.logo{
    font-size: 70px;
    display: flex;
    justify-content: center;
}

.search-wrapper
  {
      display: flex;
      justify-content: center;
  }


form.example {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    height: 60px;
    margin-top: 30px
    margin bottom: 100px

  }

  /* Style the search field */
  form.example input[type=search] {
    height: 60px;
    margin-left: 20px;
    font-size: 30px;
    border: 1px solid grey;
    float: left;
    width: 60%;
    background: #ecece7;
  }

  /* Style the submit button */
  form.example button {
    float: left;
    width: 10%;
    height: 60px;
    background: #637d96;
    color: black;
    font-size: 30px;
    border: 1px solid #191e28;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }

  form.example button:hover {
    background: #193153;
    -webkit-filter: brightness(80%);
  }

  table{
  display: flex;
  justify-content: center;
  font-size: 25px;
  }


  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

/* navigation bar*/
nav {
  margin-top: 2px;
  padding: 3px;
  text-align: right;
  font-family: helvetica;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
#nav-3 {
  background: #005e83;
  text-align: left;
}
/* classes */


.link-3 {
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
  padding: 14px 16px;
  margin: 0px 0px;
  display: inline-block;
  transition: 1.5s;
  border-radius:3px;
}
.link-3:hover {
  background-color: #ffffff;
  color: #000000;
}
/* Popup link */
.popup {
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
  padding: 14px 16px;
  margin: 0px 0px;
  display: inline-block;
  cursor: pointer;
  transition: 1.5s;
  border-radius:3px;
}

.popup:hover {
  background-color: #ffffff;
  color: #000000;
}

/* The popup window */
.popup .popuptext {
width: flex;
  padding: 10px 10px;
  color: #fff;
  text-align: center;
  border-radius:3px;
  background-color: #555;
  visibility: hidden;
  position:fixed;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}

  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-color: white;
  }
  .popup .close:hover {
    color: white;
  }
}
/*end of popup*/

.logo{
    font-size: 70px;
    display: flex;
    justify-content: center;
}

.table table-striped{
margin-top: 60px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    background-color: white;
    opacity: 0.5;

}

a{
text-decoration: none;
color: black;}

/*searching 2.0*/

*{
margin: 0;
padding 0;
box sizing: border-box
}

.Searching{
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.container{
position: relative;
display: flex;
justify-content: center;
align-items: center;
}


.ring{
width: 200px;
height: 200px;
border: 4px solid black;
border-radius: 50%;
position: absolute;
}

.ring:nth-child(1){
border-bottom-width: 8px;
border-color: purple;
animation: rotate1 2s linear infinite;
}

.ring:nth-child(2){
border-right-width: 8px;
border-color: blue;
animation: rotate2 2s linear infinite;
}

.ring:nth-child(3){
border-top-width: 8px;
border-color: green;
animation: rotate3 2s linear infinite;
}

.searching{
color: black;}

@keyframes rotate1{
0%{
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100%{
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate2{
0%{
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100%{
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate3{
0%{
    transform: rotateX(50deg) rotateY(55deg) rotateZ(0deg);
  }
  100%{
    transform: rotateX(50deg) rotateY(55deg) rotateZ(360deg);
  }
}
