@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
 background: url('background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
     -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        margin: 0px;
}


/*   TAS BORT
h1{
    margin-top:20px;
    margin-bottom: 20px;
    font-weight: normal;
    color:#4a4a4a;
}  */

/* navigation bar*/
nav {
  position: fixed;
  width: 100%;
  font-family: Helvetica;
  margin-top: 0px;
  padding-bottom: 0 px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
#nav-3 {
  font-family: Helvetica;
  background: #005e83;
  text-align: left;
}

.link-3 {
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
  padding: 14px 16px;
  margin: 0px 0px;
  display: inline-block;
  transition: 1.5s;
  border-radius:3px;
}
.link-3:hover {
  background-color: #ffffff;
  color: #000000;
}

/* Popup link */
.popup {
  color: #ffffff;
  background: #005e83;
  font-size: 15px;
  text-decoration: none;
  padding: 14px 16px;
  margin: 0px 0px;
  display: inline-block;
  cursor: pointer;
  transition: 1.5s;
  border-radius:3px;
}


.popup:hover {
  background-color: #ffffff;
  color: #000000;
}

/* The popup window */
.popup .popuptext {
width: flex;
  padding: 10px 10px;
  color: #fff;
  text-align: center;
  border-radius:3px;
  background-color: #555;
  visibility: hidden;
  position:fixed;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}

  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-color: white;
  }
  .popup .close:hover {
    color: white;
  }
}
/*end of popup*/

<style>
       div {
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
            padding: 20px;
            margin: 20px;
            background-color: antiquewhite;
        }

@media (max-width: 500px) {
            .misc {
                display: none;
            }
        }

        @media (min-width: 500px) {
            body {
                background-color: ##ecece7;
            }

            div {
                background-color: #ecece7;

            }
        }

</style>



.logo{
 font-size: 50px;
 display: flex;
 justify-content: center;
}

form.analyse {
 display: flex;
 justify-content: center;
     margin top: 100px
     margin bottom: 40px;
}

form.analyse button {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 50px;
    background: #42698c;
    color: white;
    name: Analyse;
    font-size: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    border: solid 1px grey;
    cursor: pointer;

  }
    form.analyse button:hover {
    background: #193153	;
  }

.coverPhoto {
    display: flex;
    justify-content: center;
    padding: 30px 10px;

}

.songTitle {
   padding: 24px 30px;
}

.artistName {
   padding: 24px 20px;
}

.content {
display: flex;
   padding: 24px 30px;
   margin-bottom: 30px;
}