@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
 background: url('background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
     -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        margin: 0px;
}


/*   TAS BORT
h1{
    margin-top:20px;
    margin-bottom: 20px;
    font-weight: normal;
    color:#4a4a4a;
}  */

nav {
  margin-top: 40px;
  padding: 24px;
  text-align: center;
  font-family: Helvetica;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-3 {
  background: #005e83;
  display: flex;
  justify-content: center;
}

.link-3 {
  transition: 0.4s;
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}

.link-3:hover {
  background-color: #ffffff;
  color: #000000;
  padding: 24px 10px;
}



<style>
       div {
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
            padding: 20px;
            margin: 20px;
            background-color: antiquewhite;
        }

@media (max-width: 500px) {
            .misc {
                display: none;
            }
        }

        @media (min-width: 500px) {
            body {
                background-color: ##ecece7;
            }

            div {
                background-color: #ecece7;

            }
        }

</style>



.logo{
 font-size: 50px;
 display: flex;
 justify-content: center;
}

form.analyse {
 display: flex;
 justify-content: center;
     margin top: 100px
     margin bottom: 40px;
}

form.analyse button {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 50px;
    background: #42698c;
    color: white;
    name: Analyse;
    font-size: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    border: solid 1px grey;
    cursor: pointer;

  }
    form.analyse button:hover {
    background: #193153	;
  }

.coverPhoto {
    display: flex;
    justify-content: center;
    padding: 30px 10px;
}

.songTitle {
   padding: 24px 30px;
}

.artistName {
   padding: 24px 20px;
}

.content {
display: flex;
   padding: 24px 30px;
   margin-bottom: 30px;
}