<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>LandingPage</title>
</head>
<body>
<h1>Emotus</h1>

<div>
    <a href="">About</a>
    <a href="">GitHub</a>
    <a href="">The Team</a>
</div>

<form th:action="@{/song}">
    <input type="text" name="key" id="keyword" size="50" />
    &nbsp;
    <input type="submit" value="Search"/>
    &nbsp;
    <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
    <script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/}]]";
    }
</script>
</form>

</body>
</html>