<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>LandingPage</title>
</head>
<body>
<h1>Emotus</h1>

<div>
    <a href="">About</a>
</div>

<form th:action="@{/}">
    Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
    &nbsp;
    <input type="submit" value="Search" />
    &nbsp;
    <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
    <script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/}]]";
    }
</script>
    <div>
        <h1>Song List</h1>
        <br/><br/>
        <table border="1" cellpadding="10">
            <thead>
            <tr>
                <th>Song ID</th>
                <th>Title</th>
                <th>Artist</th>
                <th>Genrer</th>
                <th>Emotion</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${listProducts}">
                <td th:text="${song.id}">Song ID</td>
                <td th:text="${song.title}">Title</td>
                <td th:text="${song.artist}">Artist</td>
                <td th:text="${song.genrer}">Genrer</td>
                <td th:text="${song.emotion}">Emotion</td>
            </tr>
            </tbody>
        </table>
    </div>
</form>

</body>
</html>