<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesSong.css">
    <title>Emotus</title>
</head>
<body>

<nav id="nav-3">
    <a class="link-3" href="/">Home</a>
    <div class="popup" onclick="aboutPopup()">About
        <div class="popuptext" id="abPopup">
            <a class="close" href="#">×</a>
            Information about Emotus, Information about Emotus
        </div>
    </div>
    <div class="popup" onclick="teamPopup()">The Team
        <div class="popuptext" id="tePopup">
            <a class="close" href="#">×</a>
            Team text, Team text, Team text, Team text <br> Team text,Team text, Team text
        </div>
    </div>
    <a class="link-3" href="https://github.com/Ecksmas/Emotus">GitHub</a>
</nav>

<script>
function aboutPopup() {
  var popup = document.getElementById("abPopup");
  popup.classList.toggle("show");
}
function teamPopup() {
  var popup = document.getElementById("tePopup");
  popup.classList.toggle("show");
}
</script>
<a class="coverPhoto">    <img th:src="${songImg}" style="width:40%;"></a>
<br>
<div>
    <span class="songTitle">
    <a><b>Song: </b></a>
    <a th:text="${titleResult}">Song title:</a>
     <span class="artistName">
        <a><b>Artist: </b></a>
    <a th:text="${artistResult}">Artist:</a>
    </span>
     </span>
</div>

<div class="content">
    <p th:text="${lyricsResult}"></p>
</div>

<form class="analyse" th:action="@{/Text}">
    <button type="submit">Analyse text</button>
</form>
<br>
<br>
<br>
<br>
<br>
</body>
</html>