<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesSong.css">
    <title>Emotus</title>
</head>
<body>
<nav id="nav-3">
    <a class="link-3" href="#">About</a>
    <a class="link-3" href="#">GitHub</a>
    <a class="link-3" href="#">The
        Team</a>
</nav>
<div>
    <div class="logo">
        <h1>Emotus</h1>
    </div>
</div>
<form th:action="@{/Text}">
    <input type="submit" value="Analyse Text"/>
</form>

<br>
<br>
<br>
<span class="coverPhoto">
    <img th:src="${songImg}" style="width:25%;">
</span>


<style>
       div {
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
            padding: 20px;
            margin: 20px;
            background-color: antiquewhite;
        }


@media (max-width: 800px) {
            .misc {
                display: none;
            }
        }

        @media (min-width: 1000px) {
            body {
                background-color: rgb(128, 167, 147);
            }

            div {
                background-color: white
            }
        }

</style>


<br>
<div>
    <span class="songTitle">
    <a><b>Song: </b></a>
    <a th:text="${titleResult}">Song title:</a>
     <span class="artistName">
        <a><b>Artist: </b></a>
    <a th:text="${artistResult}">Artist:</a>
    <span/>
     </span>
</div>

<div class="content">
    <p th:text="${lyricsResult}"></p>
</div>
<br>

<form class="analyse" th:action="@{/Text}">
    <!--    <input  value="Analyse Text"/>-->
    <button type="submit">Analyse songtext</button>
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
</html>