<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesSong.css">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.png">
    <title>Emotus</title>
</head>
<body>

<nav id="nav-3">
    <a class="link-3" href="/">Home</a>
    <div class="popup" onclick="aboutPopup()">About
        <div class="popuptext" id="abPopup">
            <a class="close" href="#">×</a>
            Emotus is a webpage intended to analyse song lyrics and translate the result into text with an accompanying image representing the feelings associated with the lyrics. The user could be anyone interested in understanding more of what feelings their favorite song conveys. However, the original purpose of the website is to mainly help people that have trouble understanding what kind of feelings lyrics might create.
        </div>
    </div>
    <div class="popup" onclick="teamPopup()">The Team
        <div class="popuptext" id="tePopup">
            <a class="close" href="#">×</a>
            We are called The Substringers and consists of Tedros, Frida, Krisitin, Aksel and Ludwig. This website was created as our final examination project after attending a 3-month long bootcamp.
        </div>
    </div>
    <a class="link-3" href="https://github.com/Ecksmas/Emotus">GitHub</a>
</nav>

<script>
function aboutPopup() {
  var popup = document.getElementById("abPopup");
  popup.classList.toggle("show");
}
function teamPopup() {
  var popup = document.getElementById("tePopup");
  popup.classList.toggle("show");
}
</script>



<div class="row">
    <div class="coverPhoto"><img th:src="${songImg}">
    </div>

    <div>
        <div class="songArtist">
            <a><b>Song:&nbsp;</b></a>
            <a th:text="${titleResult}">Song title:</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a><b>Artist:&nbsp;</b></a>
            <a th:text="${artistResult}">Artist name:</a>
        </div>

        <div class="content">
            <p th:text="${lyricsResult}"></p>
        </div>

            <div class="analyse">
            <form class="analyse button" th:action="@{/Text}">
                <button type="submit" id="snap">Analyse text</button>
            </form>
            </div>

    </div>

</div>


<Searching class="searching" style="visibility: hidden" id="spin">
    <div class="container">
        <div class="ring"></div>
        <div class="ring"></div>
        <div class="ring"></div>
    </div>
</Searching>

<script>
    const targetDiv = document.getElementById("spin");
    const btn = document.getElementById("snap");
    btn.onclick = function () {
    targetDiv.style.visibility = "visible";
    }
</script>

<br>
<br>
<br>
<br>
<br>
</body>
</html>