<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles.css">
    <script src="script.js" defer></script>
    <title>Emotus</title>
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav id="nav-3">
    <div class="popup" onclick="aboutPopup()">About
        <div class="popuptext" id="abPopup">
            <a class="close" href="#">×</a>
            Emotus is a webpage intended to analyse song lyrics and translate the result into text with an accompanying image representing the feelings associated with the lyrics. The user could be anyone interested in understanding more of what feelings their favorite song conveys. However, the original purpose of the website is to mainly help people that have trouble understanding what kind of feelings lyrics might create.
        </div>
    </div>
    <div class="popup" onclick="teamPopup()">The Team
        <div class="popuptext" id="tePopup">
            <a class="close" href="#">×</a>
            We are called The Substringers and consists of Tedros, Frida, Krisitin, Aksel and Ludwig. This website was created as our final examination project after attending a 3-month long bootcamp.
        </div>
    </div>
    <a class="link-3" href="https://github.com/Ecksmas/Emotus">GitHub</a>
</nav>

<script>
function aboutPopup() {
  var popup = document.getElementById("abPopup");
  popup.classList.toggle("show");
}
function teamPopup() {
  var popup = document.getElementById("tePopup");
  popup.classList.toggle("show");
}

</script>
<br>
<br>
<br>
<br>
<div>
    <div class="logo">
        <img src="logo.png" alt="emotus logo" width="155" height="155">
        <b><h1>Emotus</h1></b>
<!--        <img src="logo.png" alt="emotus logo" width="195" height="195">-->
    </div>
</div>
<br>


<form class="example" th:action="@{/}" th:method="get">
    <input type="search" size="50" class="form-control" id="keyword" name="keyword" placeholder="Type to search"
           th:value="${keyword}">
    <button id="snap" type="submit">
        <i data-text="Search">Search
            </i>
        </i>
    </button>
</form>

<Searching class="searching" style="visibility: hidden" id="spin">
    <div class="container">
        <div class="ring"></div>
        <div class="ring"></div>
        <div class="ring"></div>
    </div>
</Searching>

<script>
    const targetDiv = document.getElementById("spin");
    const btn = document.getElementById("snap");
    btn.onclick = function () {
        targetDiv.style.visibility = "visible";
    }
</script>

<script>
    const targetDiv = document.getElementById("spin");
    const btn = document.getElementById("keyword");
    btn.onclick = function () {
        targetDiv.style.visibility = "visible";
    }
</script>

<!--searching 2.0-->


<!--Searching 2.0-->

<br>

<table class="table">
    <span>
    <tr>
        <th>Title</th>
        <th>Artist</th>
    </tr>
    </span>
    <span>
    <tr th:each="song : ${songList}">
        <td>
            <a th:href="@{/song(id=${song.songId})}" style="display:block;">
                <span th:text="${song.artist}"></span>
            </a>
        </td>
        <td>
            <a th:href="@{/song(id=${song.songId})}" style="display:block;">
                <span th:text="${song.title}"></span>
            </a>
        </td>
    </tr>
    </span>
</table>
</div>

</body>
</html>