<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form th:action="@{/}" th:method="get">
        <div class="form-group">
            <label for="keyword">Keyword:</label>
            <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Enter keyword"
                   th:value="${keyword}">
        </div>
        <button type="submit">Search</button>
    </form>

    <br>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="song : ${songList}">
            <td>
                <a th:href="@{/song(id=${song.songId})}" style="display:block;">
                    <span th:text="${song.artist}"></span>
                </a>
            </td>
          <td>
            <a th:href="@{/song(id=${song.songId})}" style="display:block;">
              <span th:text="${song.title}"></span>
            </a>
          </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>