<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
  <form>
    <div class="form-group">
      <label for="keyword">Keyword:</label>
      <input type="text" class="form-control" id="keyword" placeholder="Enter keyword" th:value="${keyword}">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  <br>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="song : ${songList}">
      <td th:text="${song.title}"></td>
      <td th:text="${song.artist}"></td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>