<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
   <link rel="stylesheet" href="/analysedText.css">
    <script src="/img.js" defer></script>
    <title>Emotus</title>
</head>
<body>
<nav id="nav-3">
    <a class="link-3" href="/">Home</a>
    <div class="popup" onclick="aboutPopup()">About
        <div class="popuptext" id="abPopup">
            <a class="close" href="#">×</a>
            Information about Emotus, Information about Emotus
        </div>
    </div>
    <div class="popup" onclick="teamPopup()">The Team
        <div class="popuptext" id="tePopup">
            <a class="close" href="#">×</a>
            Team text, Team text, Team text, Team text <br> Team text,Team text, Team text
        </div>
    </div>
    <a class="link-3" href="https://github.com/Ecksmas/Emotus">GitHub</a>
</nav>

<script>
function aboutPopup() {
  var popup = document.getElementById("abPopup");
  popup.classList.toggle("show");
}
function teamPopup() {
  var popup = document.getElementById("tePopup");
  popup.classList.toggle("show");
}
</script>
<div>
    <div class="logo">
        <h1>Emotus</h1>
    </div>

<div class = "analyse" onloadstart="showImage()">
    <span class ="sentiment">Sentiment:&nbsp;
    <span  th:text="${sentimentText}"></span></span>
    <span class = "subjectivity">Subjectivity:&nbsp;
    <span  th:text="${subjectivityText}"></span></span>

    <!--<script>

       let result = document.getElementByClassName(sentiment)
    console.log(result)

    </script>-->


        <article class ="picture">
       <!--<img id= "imageHappy" src="/flowers.jpg" alt="Positive">,
       <img id="imageVeryHappy" src="/veryhappy.jpg" alt="Very Positive"><img id="imageNeutral" src="/neutral.jpg" alt="Neutral">,&ndash;&gt;
        <img id="imageSad" src="/sad.jpg" alt="Negative">,
        <img id="imageVerySad" src="/verysad.jpg" alt="Very Negative">-->
       </article>
</div><!--<div id="imageContainer"></div>-->
</div>

</body>
</html>